
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #FBE4FF;
    height: 2865px;
}

.header {
    width: 100%;
    height: 65px;
    background: #243B93;
}

.header-logo {
    width: 140px;
    height: 50px;
    display: inline-block;
    text-align: right;
    margin: 0.5rem 0;
    padding: 0 10rem 0 18rem;
}

.nav-bar {
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 54%;
    height: 100%;  
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.56px;
    word-spacing: 2rem;
    position: relative;
    top: -20px;
}

.nav-bar>li {
    display: inline-block;
}

.nav-bar a {
    text-decoration: none;
    color: #FFF;
}

.change-lang {
    display: inline-block;
    height: 100%;
}

.lang-value{
    color: #FFF;
    text-align: left;
    font-family: PT Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float: right;
    padding: 0.5rem;
}

.main-text {
    display: inline-block;
    height: 85px;
    width: 100%;
    color: #202846;
    background: #BFF0FF;
    margin: 0;
    padding: 0.75rem 15%;
}

.main-text>h1{
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    font-family: PT Sans;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.main-room {
    height: 85px;
    width: 100%;
    color: #202846;
    font-family: PT Sans;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    margin: 0;
    padding: 0.75rem 15%;
}

.search-place {
    width: 1321px;
    height: 57px;
    background: #FFF;
    box-sizing: border-box;
    margin: 1rem auto;
}

.search-place p {
    margin: 0;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    font-family: PT Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards {
    width: 100%;
    position: relative;
}

.up{
    position: absolute;
    transition: all 0.5s;
    bottom: 3rem;
    right: 13rem;
    width: 101px;
    height: 101px;
}

.up:hover{
    transform: scale(0.7);
}

.card-content {
    float: right;
    width: 739px;
    height: 205px;
    margin-right: 4rem;
}

.place-title{
    border-bottom: 3px solid #FFF;
    width: 739px;
    color: #353C57;
    font-family: PT Sans;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.place-description {
    background: #FFF;
    width: 739px;
    padding: 2rem;

    color: #202846;
    font-family: PT Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-image {
    display: inline-block;
    margin: 1.75rem;
}

.card-image img {
    display: inline-block;
}

.card {
    position: relative;
    width: 1321px;
    background: linear-gradient(93deg, #ADCBD4 0%, #00AEE5 100%);
    margin: 2rem auto;
    transition: all 0.5s;
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    
    .details {
        background: #EF075B;
    }

    .favourite>svg{
        fill: #FFF500;;        
    }

}

.favourite {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.favourite>svg{
    fill: #FFF;
    transition: all 0.5s;
}

.details {
    display: inline-block;
    position: absolute;
    transition: all 0.5s;
    right: -36px;
    bottom: 12px;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background: #243B93;
    color: #FFF;
    text-align: center;
    padding: 0.5rem;

    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.user-card {
    width: 1318px;
    height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.50) 100%);
    margin: 2rem auto;
}

.user-section{
    width: 100%;
}

.user-info{
    display: inline-block;
    padding: 0 1rem;
    height: 100%;
    width: 45%;
}

.avatar{
    display: inline-block;
    height: 100%;
    width: 30%;
    height: 100%;
    width: 50%;
    padding: 4rem 12rem;
}

.avatar img{
    padding-left: 3rem;
}

.avatar a {
    text-decoration: none;
    color: #FFF;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background: #243B93;
    text-align: center;
    margin: 1.5rem;
    padding: 0.5rem;

    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.button:hover{
    background: #EF075B;
}

.info-title{
    color: #353C57;
    font-family: PT Sans;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    border-bottom: 3px solid #FFF;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 30px;
}

.info-title:last-child{
    border: none;
}

.info-value{
    font-weight: normal;
    padding-left: 1rem;
}

.exit{
    width: 100%;
    margin: 2rem auto;

    text-align: center;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 30px;
    background: #243B93;
    width: 174px;
    height: 50px;
    padding: 0.5rem;
}

.exit>a{
    text-decoration: none;
    color: #FFF;
}

.contacts-title {
    height: 85px;
    width: 100%;
    color: #202846;
    font-family: PT Sans;
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    margin: 0;
    padding: 0.75rem 15%;
}

.contacts {
    width: 100%;
}

.contact-map{
    display: inline-block;
    width: 499px;
    height: 290px;
    margin: 5rem;

    background: url(<path-to-image>), lightgray 50% / cover no-repeat, url(<path-to-image>), lightgray 50% / cover no-repeat; 
}

.contact-details{
    display: inline-block;
    padding-left: 10rem;
    width: 50%;
    margin: 0 8rem;
}

.contact-value{
    font-family: PT Sans;
    display: inline-block;
    width: 40%;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;   
    margin: 2rem;
}

.contact-title{
    border-bottom: 3px solid black;
    width: 90%;
}

.footer {
    width: 100%;
    height: 70px;
    background: #243B93;
}

.footer-content{
    color: #FFF;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.56px;
    padding: 1.5rem 20rem;
}

